*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    margin: 15px;
}

.containerOne {

    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    max-height: 600px;
}

.container {
    margin-top: 5%;
    background-color : white;
    max-width: 1000px;
    max-height: 600px;
}

html {
    position: relative;
    min-height: 100%;
}

.input {
    display: flex;
    margin-top: 6%;
}

.form-control{
    max-width: 200px; 
}

#math-display{ 
    min-width: 20em;
    margin: 5px;
}

.border.border-info{
    margin-left: 10px;
}

.inter_button{
    max-width: 100px;
    margin-left: 1%;
}

#clear{
    background-color: transparent;
    color: #7C3C3C;
    border-color:#7C3C3C;
}
#clear:hover{
    background-color: #7C3C3C;
    color: white;
}

#color:hover{
    background-color: #686868;
}

#modal-div{
    margin-top: 0px;
}

.btn.btn-secondary.dropdown-toggle{ 
    background-color: transparent;
    color: #6c757d;
    cursor: pointer;
    transition-duration: 0.4s;
}

#dropdownMenuButton:hover{
    background-color: #6c757d;
    color: white;
}
    

.btn.btn-outline-info.left-buttons{
    height: 38px;
}

.btn.btn-outline-secondary.left-buttons{
    height: 38px;
}

.input-group-prepend{
    height: 38px;
}

.input-group.flex-nowrap{
    height: 38px;
}

.left-buttons{
    margin-left: 1%;
}

.consoleTittle{
    margin-top: 1%;
    text-align: center;
}

.console {
    width: 900px;
    height: 200px;
    background-color : white;
    text-align: left;
    margin: auto;
    font-size: 18px;
    color: #6d071a;
    overflow : scroll;
    margin-top: 1%;
    border-radius: 5px;
}

.navbar{
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, .2);
}

/*#mathpic {
    background-image: url(../img/math.jpg);
}*/

/*.modal-body {}*/

a {
    margin: 4px;
}

.modal-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.numbers {
    width: 50%;
}

.operators {
    height: 50%;
    width: 50%;
}